@media screen and (max-width: 1366px) {
  .inline-wrapper {
    width: 100%;;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  header{
    background-size: cover;
  }
  body {
    background-color: black !important;
  }
  .header{
    display: block;
  }
  .section-main div:first-child{
    order: 2;
  }
  .section-main div + div{
    order: 1;
  }
}
@media screen and (max-width: 768px) {
  .inline-wrapper {
    width: 100%;;
  }
  section, .section-footer, .content-container {
    display: flex;
    flex-direction: column;
  }
  img{
    width: 100%;
  }
  header {
    min-height: 300px;
  }
  .user-container{
    text-align: center;
  }
  .user-btn {
    display: inline-block;
}
.bg-user {
  background-position: bottom;
  padding-left: 30px;
  padding-right: 30px;
}
}